<main>
  <div class="container mt-5 pt-5" style="height:1300px;">
    <!-- Material form login -->
    <div class="card">
      <div class="card-body">
        <form>
          <p class="h4 text-center mb-4">Sign in</p>
          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="materialFormLoginEmailEx" class="form-control">
            <label for="materialFormLoginEmailEx">Your email</label>
          </div>
          <!-- Material input password -->
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="materialFormLoginPasswordEx" class="form-control">
            <label for="materialFormLoginPasswordEx">Your password</label>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-default" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Material form login -->
  </div>
</main>
