<!-- Main -->
<main>
  <div class="container mt-5 pt-5" style="height:1300px;">

    <div class="card">
      <div class="card-body text-center">
        <h2>Here is the Home</h2>
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->
