<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar ie-nav" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" ><strong>HX</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Dashboard</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Log In</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
